body
{
    background-image: url(../resources/background.jpg);
    background-size: contain;
}

a
{
    color: #9ab5d0
}

.container
{
    color: #bbbbbb;
    border:#5986c5;
    background:#223b57;
    font-family: sans-serif;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 600px;
    word-wrap: break-word;
    transform: translate(-50%, -50%);
    place-items: center;
    text-align: center;
}

.text-monospace
{
    font-family: "Courier New" !important;
}

.number-box
{
    height: 45px;
    width: 60px;
    font-size: 20pt;
    margin-right: 10px;
}

.equation-box
{
    font-size: 30pt;
}

.solution-box
{
    font-size: 25pt;
    margin-top: 10px;
}

.main-button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    background: #6ab3ba;
    padding: 10px 20px 10px 20px;
}

.main-button:hover {
    background: #56888d;
}

.fade
{
    opacity: 100;
    transition: opacity 200ms ease-in-out;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.logo
{
    margin-left: 20px;
    margin-right: 20px;
    height: 175px;
    width: 175px;
    display: inline;
}

.marginleft100
{
    margin-left: 100px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media(max-width: 800px)
{
    .container
    {
        width: 100% !important;
    }
}
