html {
    height: 100%;
}

body {
    height: 99%;
    margin: 0;
    background-image: url(../resources/Subdued_Blue.jpg);
    background-size: cover;
    display: grid;
    place-items: center;
    background-attachment: fixed;
}

.logo {
    display: grid;
    place-items: center;
}

h5 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.5em;
    font-weight: normal;
}

img {
    width: 140px;
    margin-left: 30%;
    margin-top: 0;
    margin: 0 auto;
}
.container {
    color: #bbbbbb;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    font-family: sans-serif;
    padding: 15px;
    width: 50%;
    max-width: 400px;
    word-wrap: break-word;
    text-align: center;
    min-width: 300px;
}

#tail {
    margin-top: 8em;
    display: block;
    text-align: center;
    place-items: center;
}

#full-view {
    width: max-content !important;
}

.title {
    margin: 1rem 0;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.enlarged-container {
    max-width: 600px;
    width: 80%;
}

.auto-container {
    max-width: none !important;
    width: auto !important;
}

.text-monospace {
    font-size: 1.2em;
    font-weight: lighter;
}

.instructions {
    font: inherit;
    font-size: 50%;
}

.dropdown {
    font-size: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.number-box {
    height: 45px;
    width: 60px;
    margin-right: 10px;
}

.solution-box {
    margin-top: 10px;
}

.text-box {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 70%;
}

.medium-text-box {
    width: 75%;
}

.main-button {
    color: rgb(247, 247, 247);
    font-size: 0.8em;
    margin-top: 10px;
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 0.12em;
    background: rgb(72, 129, 134);
    padding: 10px 20px 10px 20px;
    transition: all 0.5s;
}

.secondary-button {
    background: rgb(186, 149, 106);
    height: auto;
    width: auto;
}

.main-button:hover:enabled {
    background: rgba(255, 255, 255, 0.85);
}

.danger {
    background: rgb(10, 88, 112);
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

a.nav-button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0.5em 0 0.5em 0;
    border-radius: 0.12em;
    box-sizing: content-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    transition: all 0.5s;
}

a.nav-button:hover {
    color: #000000;
    background-color: #ffffff;
}

a:hover {
    color: hotpink;
}

.fade {
    opacity: 100;
    transition: opacity 200ms ease-in-out;
    animation: fadeInAnimation ease 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bottom-buttons {
    margin-top: 5%;
    bottom: 1%;
}

.marginleft100 {
    margin-left: 100px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 940px) {
    .container {
        width: 90%;
    }
}
