body
{
    background-image: url(../resources/background.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    color: rgb(154, 181, 208, 1)
}

a:hover
{
    color: rgb(154, 181, 208, .7)
}

.container
{
    color: #bbbbbb;
    border:#5986c5;
    background:#223b57;
    font-family: sans-serif;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    padding: 15px;
    width: 50%;
    max-width: 600px;
    word-wrap: break-word;
    text-align: center;
}

.text-monospace
{
    font-family: "Courier New" !important;
    font-size: 25pt;
}

.dropdown
{
    font-size: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.number-box
{
    height: 45px;
    width: 60px;
    font: inherit;
    font-size: 50%;
    margin-right: 10px;
}

.solution-box
{
    margin-top: 10px;
}

.main-button {
    margin-top: 10px;
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 12px;
    background: rgba(106, 179, 186, 1);
    padding: 10px 20px 10px 20px;
    transition: all 0.1s;
}

.main-button:hover {
    background: rgba(106, 179, 186, 0.7);
}

.danger-button {
    margin-top: 10px;
    height: 50px;
    width: 150px;
    border: 0;
    border-radius: 12px;
    background: rgba(200, 20, 20, 1);
    padding: 10px 20px 10px 20px;
    transition: all 0.1s;
}

.danger-button:hover {
    background: rgba(200, 20, 20, 0.7);
}

a.nav-button
{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing:  border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.1s;
}

a.nav-button:hover
{
    color: #000000;
    background-color: #FFFFFF;
}

.fade
{
    opacity: 100;
    transition: opacity 200ms ease-in-out;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.logo
{
    height: 125px;
    width: 125px;
    display: inline;
}

.logo
{
    height: 125px;
    width: 125px;
    display: inline;
}

.bottom-buttons
{
    margin-top: 5%;
    bottom: 1%;
}

.marginleft100
{
    margin-left: 100px;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media(max-width: 940px)
{
    .container
    {
        width: 70%;
    }
}

@media(max-width: 670px)
{
    .container
    {
        width: 90%;
    }
    .text-monospace
    {
        font-size: 15pt;
    }
}

@media all and (max-width: 30em)
{
    a.nav-button
    {
        display: block;
        margin: 0.4em auto;
    }
}
