.matrix-area
{
    height: 150px;
    font: inherit;
    resize: none;
    font-size: 75%;
    white-space: nowrap;
    overflow-y: auto;
}

.control-buttons
{
    margin-top: 2%;
}

.matrix-div
{
    margin: 2%;
}

table
{
    border-spacing: 25px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 12px;
}
