.matrix-area {
    height: 150px;
    font: monospace;
    font-size: 1rem;
    resize: none;
    white-space: pre;
    overflow-y: auto;
}

.matrix-div {
    margin: 2%;
}

table {
    border-spacing: 25px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 12px;
    table-layout: fixed;
    width: 75%;
}

td {
    word-wrap: break-word;
}
