.info
{
    margin-bottom: 10px;
}

.text-box
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 70%;
}

h5
{
    margin-top: 25px;
    margin-bottom: 2px;
}

.solution-box
{
    line-height: 1.6;
}
