.container
{
    color: #bbbbbb;
    font-family: sans-serif;
    border:#5986c5;
    background:#223b57;
    border-width: 5px;
    border-style: solid;
    border-radius: 12px;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    text-align: center;
}

.number-box
{
    height: 45px;
    width: 60px;
    font-size: 20pt;
    margin-right: 10px;
}

.equation-box
{
    font-size: 30pt;
}

.solution-box
{
    font-size: 30pt;
    margin-top: 10px;
}

.main-button
{
    background:#5986c5;
    border-radius: 12px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

.main
{
    background-image: url(../resources/background.jpg);
    background-size: contain;
}

.fade
{
    opacity: 100;
    transition: opacity 200ms ease-in-out;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.logo
{
    margin-left: 20px;
    margin-right: 20px;
    height: 175px;
    width: 175px;
    display: inline;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
