.container
{
    border: black;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-items: center;
    text-align: center;
}

.number-box
{
    height: 45px;
    width: 60px;
    font-size: 20pt;
    margin-right: 10px;
}

.equation-box
{
    font-size: 30pt;
}

.solution-box
{
    font-size: 30pt;
    margin-top: 10px;
}

#calculate-button
{
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

.background
{
    opacity: 0;
    transi
}
